<main class="main" id="main">
  <div class="container">
    <!-- <h1>Create Book</h1> -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Insert New Book</h5>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              >Title</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputText"
                formControlName="title"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              >Author</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputEmail"
                formControlName="author"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              >Category</label
            >
            <div class="mb-3 col-sm-10">
              <select
                formControlName="categoryId"
                class="form-select"
                id="floatingSelect"
                aria-label="State"
              >
                <option
                  *ngFor="let item of tempData; index as i"
                  ngValue="{{ i+1 }}"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label"
              >Publisher</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputPassword"
                formControlName="publisher"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label"
              >Description</label
            >
            <div class="col-sm-10">
              <textarea
                formControlName="description"
                class="form-control"
                placeholder="Description"
                id="floatingTextarea"
                style="height: 100px"
                data-dl-input-translation="true"
                spellcheck="false"
              ></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-2"></div>
            <div class="row col-sm-12 col-lg-10">
              <div class="col-6">
                <!-- insert a label -->
                <label>Year</label>
                <input
                  type="number"
                  class="form-control"
                  id="inputPassword"
                  formControlName="year"
                />
              </div>
              <div class="col-6">
                <label for="">Status</label>
                <select
                  class="form-select"
                  id="floatingSelect"
                  aria-label="State"
                  formControlName="status"
                >
                  <option value="Available">Available</option>
                  <option value="Unavailable">Unavailable</option>
                </select>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary mx-2">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
