<main class="main" id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Chart</h1>
        <p>This is the chart page. </p>
        <section class="section">
          <div class="row">
            <h1 class="text-center">Books</h1>
            <div class="col-lg-12">

            </div>
             <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">
                    Quantity Book by status
                  </h5>
                  <canvas id="statusChart" style="max-height: 400px"></canvas>
                </div>
              </div>
            </div>
             <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">
                    Quantity Book by status
                  </h5>
                  <canvas id="categoryChart" style="max-height: 400px"></canvas>
                </div>
              </div>
            </div>
            <h1 class="text-center">Toko Barokah</h1>
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">
                    Filtering income by Username
                  </h5>
                  <div class="d-flex justify-content-end">
                    <form [formGroup]="form">
                      <select
                        class="form-select shadow"
                        style="max-width: 140px; border-radius: 15px"
                        (change)="filterByUser()"
                        formControlName="month"
                      >
                        <option [value]="i+1" *ngFor="let item of month;index as i">
                          {{ item }}
                        </option>
                      </select>
                    </form>
                  </div>
                  <!-- <canvas
                    id="countByCategory"
                    style="max-height: 400px"
                  ></canvas> -->
                  <!-- <canvas id="income" style="max-height: 400px"></canvas> -->
                  <canvas id="income2" style="max-height: 400px"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">
                    Quantity Product by Username
                  </h5>
                  <canvas id="countQtyBar" style="max-height: 400px"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Income by Month</h5>
                  <canvas
                    id="incomeWithLine"
                    style="max-height: 400px"
                  ></canvas>
                </div>
              </div>
            </div>
            <!-- End Toko Barokah -->


          </div>
        </section>
      </div>
    </div>
  </div>
</main>
